{
    "env": {
        "production": {
            "presets": [
                "react",
                "env"
            ],
            "plugins": [
                "react-hot-loader/babel",
                "transform-class-properties",
                [
                    "import",
                    {
                        "libraryName": "antd",
                        "libraryDirectory": "es",
                        "style": true
                    }
                ]
            ]
        },
        "test": {
            "presets": [
                "react",
                "env"
            ],
            "plugins": [
                ["istanbul", {
                  "exclude": [
                    "src/**/*.test.{js,jsx}",
                    "setupJest.js"
                  ]
                }],
                "transform-class-properties"
            ]
        }
    }
}
